@use '../../styles/variables.scss' as v;
@use '../../styles/theme.scss';

.button {
  padding: 10px 20px;
  background-color: var(--background-color);
  box-shadow: v.$box-shadow;
  border: none;
  border-radius: 10px;
  color: var(--text-primary-color);
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--card-background-color);
  }
}

.active {
  background-color: v.$accent-color;
  color: var(--active-text-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--text-primary-color);
  }
}
