.home__container {
  position: relative;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 590px) {
  .home {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
