@use '../../styles/theme.scss';

.card {
  width: 150px;
  height: 200px;
  background-color: var(--card-background-color);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
